# =============================================================================
# HOMEPAGE WIDGETS
# =============================================================================
---
- resources:
    cpu: true
    memory: true
    disk: /mnt/storage

- search:
    provider: duckduckgo
    target: _blank

- datetime:
    text_size: xl
    format:
      dateStyle: long
      timeStyle: short
      hourCycle: h23
